*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.kundalik{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    margin-bottom: 20px;
    &__item{
        border: 1px solid black;
        border-radius: 5px;
        button{
            border: none;
            outline: none;
            cursor: pointer;
            padding: 20px 30px;
            border-radius: 0px 5px 5px 0px;
            transition: all 0.4s ease-in-out;
            font-size: 16px;
            &:hover{
                background-color: aqua;
            }
        }
        input{
            padding: 15px ;
            border: none;
            outline: none;
            border-radius: 5px 0px 0px 5px;
            font-size: 18px;
        }
    }
}
.safe{
    width: 65%;
    margin: auto;
    ol li{
        position: relative;
        margin: 10px;
        background-color: aqua;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px black;
        color:rgb(28, 9, 197);
        font-weight: bold;
        text-transform: capitalize;
        font-size: 18px;
        img{
            position: absolute;
            top: 25%;
            right: 8px;
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
    ol{
        background-color:orange;
        border-radius: 10px;
        padding: 10px 20px;
    }
}
.title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    &-active{
        display: none;
    }
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    span{
        color: red;
        font-size: 16px;
        font-weight: bold;
       
    }
}